/***********************************TAG-SELECTORS************************************************/
body {
    background-color: lightcyan;
}

hr {
    border-style: dotted none none;
    border-color: blueviolet;
    border-width: 5px;
    width: 5%;
    height: 0px;

}

/************************************************CLASS-SELECTORS**************************************/

.my.qualification {
    border: solid;
    border-color: black;
    border-spacing: 20px;
}


.footer {
    border: 0;
}

.family {
    border-radius: 50% 20% / 10% 40%;
    border: solid 2px;
}

.family:hover {
    transform: scale(1.5);

}

/*td {
    
}*/

h1 {
    color: blueviolet;
}

h2 {
    color: orange;
}

h3 {
    color: green;
}

/************************************ID SELECTORS****************************************************/
#red {
    border-color: red;
}
#green {
    border-color:green;
}
#yellow {
    border-color: yellow;
}